{% load static %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>{{ race.name }}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
  </head>
  <body>
    <a href="/weatherapp/">All Races</a>
    <h1>{{ race.name }}</h1>
    <p>{{ race.location }}</p>
    <p>{{ race.date }}</p>
    <div>
      <h2>Weather Forecast</h2>
    <div class="forecast-card">
      {{ start_weather.first.temp }} <span>&deg;F</span>
      {{ start_weather.first.datetime }}
    </div>
      {% if forecast_graph %}
    <div class="weather-graph">
        {{ forecast_graph|safe }}
    </div>
    <p>Weather Forecast:</p>
      {% endif %}
      {% for weather in weather_forecast %}
          {{ weather.temp }}
          {{ weather.datetime }}
      {% endfor %}
      <p>Weather at Start:</p>
      {{ start_weather.first.temp }}
      {{ start_weather.first.datetime }}
    </div>

    <p>Historic Weather:</p>
    {% for weather in historic_weather %}
    <p>Temps</p>
    <p>{{ weather.temp }}</p>
     <p>Time: {{ weather.datetime }}</p>
    {% empty %}
    <p>No weather data available for this race.</p>
    {% endfor %}
  </body>
</html>